<!DOCTYPE html>
<html class="js" lang="{{ request.locale.iso_code }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <title>{{ page_title }}</title>

    {{ content_for_header }}
    
    {% render 'meta-tags' %}

    {{ 'main.css' | asset_url | stylesheet_tag }}
</head>
<body>
    {% sections 'header-group' %}
    {{ content_for_layout }}
    {% sections 'footer-group' %}
</body>
</html>